html{
	font-size: 62.5%;
}
body{
	margin:0;
	padding: 0;
	display:flex;
	justify-content:center;
	font-family: "Avenir", "Open Sans", sans-serif;
}
.container{
	margin-top: 5rem;
	display:flex;
	flex-direction:column;
	width: 30%;
	height: 70vh;
	z-index: 10;	
}
.chat-box{
	height: 370px;
	overflow-y:scroll;
}
.msg{
	color:rgb(0, 0, 0);
	font-size: 2rem;
}
.msgCtn1{
	margin: .5rem 0;
	margin-right: 10rem;
	color: white;
	padding: 1rem 1rem;
	float: left;
	text-align: left;
	background-color: #9dabe0;
	border-radius: 20px 20px 20px 0px;
	font-size: 1.5rem;
}
.msgCtn2{
	margin: .5rem 0;
	margin-left: 40rem;
	color: white;
	padding: 1rem 1rem;
	text-align: right;
	background-color: #a6d0a7;
	float: right;
	border-radius: 20px 20px 0 20px;
	font-size: 1.5rem;
}
.msgForm{
	display:flex;
	flex: 0 1 27px;
	flex-direction:row;
	width: 100%;
  	background: #fff;
	position: relative;
	margin-top: .5rem;
	padding: 10px;
  	-webkit-border-radius: 20px;
  	-moz-border-radius: 20px;
  	border-radius: 20px;
  	height: 14px;
  	border: 1px solid #ccc;
}
.input{
	height: 24px;
	margin-right: .5rem;
	border: none;
	padding-right: 20px;
	width: 265px;
	font-size: 1.5rem;
	background: none;
}
.input:focus:-webkit-placeholder{
	background-color:white;
	color: transparent;
}
.btn{
	flex: 1;
	float: right;
	display:flex;
	justify-content:center;
	text-transform: uppercase;
	align-items:center;
	border-radius: .5rem;
	background-color: #ffffff;
	color: #a6d0a7;
	border:none;
	font-size: 15px;
}