<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="stile.css">
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
        <style>
            body {
                background-image: url('sfondo.jpeg');
                background-position: center;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            button{
                outline: none;
            }
        </style>
    </head>
    <body>
        <div class="menu-container">
            <font color="white"><h3 color="white">MovieHub</h3></font>
        </div>
        <div class="central-container">
           
        </div>

    </body>
</html>

