<!DOCTYPE html>
<html lang="en">
<head>
    <% if (info!=""){ %>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <title>Risultati</title>
</head>
<body>
   
    <h1>Ecco cosa abbiamo trovato</h1>
    <% if(info.results.length>0){ %>
        <ul>
        <% for(var i=0;i < info.results.length; i++) {%>
            <li><a href="http://localhost:3000/results_title?id=<%= info.results[i].id%>" style='text-decoration: none;'> <%= info.results[i].original_title%></a>
            </li>
        <%}%>
        </ul>
    <%}%>
<%}%>
</body>
</html>    